body {
  background-color: #777777;
  color: white;
  font-family: "Papyrus", "Arial", "Courier New";
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

a {
  color: white;
}

input, select, button, textarea {
  max-width: 100%;
}

meter, progress, output {
  max-width: 100%;
}

div#tswsidecol {
  float: right;
  width: 20%;
}

div#tswcontent {
  float: right;
  width: 80%;
}

@media only screen and ( max-width : 629px ) {
  div#tswsidecol {
    float: none;
    width: 100%;
  }
  div#tswcontent {
    float: none;
    width: 100%;
  }
}

div#tswcontproper {
  padding-left: 5px;
  padding-right: 5px;
}

div#tswcontainer {
  color: ;
}

div#tswsideproper, div#tswothersideproper {
  padding-left: 5px;
  padding-right: 5px;
}

div#tswheader {
}

div#tswfooter {
	position: relative;
	bottom: 10px;
}

img {
  max-width: 200px;
}

div .letter {
	background-color: #265961;
	color: #bce2e8;
	padding: 10px;
	margin-left: 5px;
	border-radius: 10%;
}

#logo {
	border-radius: 100%;
}

/*
	tswnavbar.css	1.2.4
	Please use the Navigation Menu Wizard at
		https://www.thesitewizard.com/wizards/css-menu-buttons.shtml
	to generate your own customized menu buttons.
*/

#tswcssbuttons {
	width: 90% ;
	max-width: 100% ;
	text-align: center ;
}
#tswcssbuttons ul {
	margin: 0 ;
	padding: 0 ;
	list-style: none ;
}
#tswcssbuttons li {
	margin: 0 ;
	padding: 0 ;
	display: block ;
	list-style: none ;
	font-family: Arial, Helvetica, sans-serif ;
}
#tswcssbuttons li a {
	color: #265961 ;
	background-color: #bce2e8 ;
	border: 1px outset #ffffff ;
	text-decoration: none ;
	display: block ;
	
	padding-top: 5px;
	padding-bottom: 5px;
}
#tswcssbuttons li a:hover {
	color: #bce2e8 ;
	background-color: #265961 ;
}

#sitemaplinks li a {
	color: white;
}

#sitemaplinks li a:hover {
	font-style: italic;
}