body {
    background-image: radial-gradient(circle, rgb(133, 158, 177), #d793f7, rgb(241, 164, 212));
    background-size: cover;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#dev-controls {
    width: auto;
    border-color: white;
    border-style: solid;
    background-color: rgba(127, 127, 127, 0.5);
}

.controls {
    display: flex;
    padding: 5px;
}

#forecast-table {
    border-collapse: collapse;
}

#forecast-table tr td, #forecast-table tr th {
    border-style: solid;
    text-align: center;
}